/* Tema Azul Escuro */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: pink;
  color: #000000;
  font-family: 'Times New Roman', Times, serif;
  display: flex;
}

a {
  color: #90caf9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


button{
  color: #885b6c;
}

button:hover{
  text-decoration: dashed;
}